<section class="bg-card-1 d-flex flex-column justify-content-center align-items-center justify-content-lg-start align-items-lg-start">
    <div class="gradient gradient-top"></div>
    <img src="webp/almaghara/bg-card-1.webp" loading="lazy" class="bg-image">
    <div class="container d-relative z-1 p-relative">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-12">
                @@include('./parts/ar/card.part.html')
            </div>
        </div>
    </div>
    <div class="gradient gradient-bottom"></div>
</section>