<div class="table-row">
    <div class="table-cell first">
        <div class="icon">
            <img src="@@icon" loading="lazy" alt="icon">
        </div>
        <div class="cell-content">
            <div class="tag">@@firstTag</div>
            <p>
                @@firstContent
            </p>
        </div>
    </div>
    <div class="table-cell last">
        <div class="cell-content">
            <div class="tag alt">@@secondTag</div>
            <p>
                @@secondContent
            </p>
        </div>
    </div>
</div>