<section class="quote-slider-1">
    <div class="navigation-dots">
        <span class="dot active" data-slide="slide-1"></span>
        <span class="dot" data-slide="slide-2"></span>
    </div>
    <div class="slider-container">
        <div class="slide active" id="slide-1">
            <img src="webp/almaghara/quote-slide-1.webp" loading="lazy" class="bg-image">
            <div class="container">
                <div class="quote-card animate fade-in d-start">
                    <i class="icon-quote">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    <p class="quote-text"> "إنّ الملوحة مرتفعة في مزرعتنا، ولم نتمكن إلا من زراعة الزيتون، بينما الملوحة
                        بسيطة عن جيراننا، ويزرعون محاصيل مختلفة".</p>
                    <p class="author">سرور عبد الحافظ</p>
                    <p class="role">أحد العمال المزرعة</p>
                </div>
            </div>
        </div>
        <div class="slide" id="slide-2">
            <img src="webp/almaghara/quote-slide-2.webp" loading="lazy" class="bg-image">
            <div class="container">
                <div class="quote-card animate fade-in d-start">
                    <i class="icon-quote">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    <p class="quote-text">“نشعر بملوحة المياه على وجوهنا عندما نغتسل أو نتمضمض بمياه البئر هنا في المزرعة،
                        على عكس المزرعة المجاورة؛ حيث تبدو مياههم عادية، يمكن حتى الوضوء والشرب منها أحيانًا".</p>
                    <p class="author">السيد حسن صباح</p>
                    <p class="role">أحد العمال المزرعة</p>
                </div>
            </div>
        </div>
    </div>

    <div class="navigation-dots">
        <span class="dot active"></span>
        <span class="dot"></span>
    </div>
    <div class="gradient-bottom"></div>
</section>