<section class="central-content-1">
    <img src="@@bgImg" loading="lazy" class="bg-image">
    <div class="decoration upper-decoration d-none d-lg-block">
        <img src="webp/saudi/pipes-in-water.webp" loading="lazy">
        <div class="gradient"></div>
    </div>
    <div class="container">
        @@include("./parts/content-en.part.html")
    </div>
    <div class="decoration side-decoration d-none d-lg-block">
        <img src="webp/saudi/abstract-pipes.webp" loading="lazy">
    </div>
</section>