.central-content-1 {
  background-color: #001636;
  padding-top: h.rem(40);
  padding-bottom: h.rem(40);

  .upper-decoration {
    top: -258px;

    .gradient {
      width: 100%;
      height: 60px;
      position: absolute;
      bottom: 0;
      z-index: 1;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #001636 100%);
      transform: rotateX(180deg);
    }
  }

  .side-decoration {
    top: 50%;
    transform: translateY(-50%);
    inset-inline-start: 0;
    width: max-content;

    img {
      width: h.rem(550);
      height: auto;
      min-width: unset;
      min-height: unset;
      object-fit: contain;
    }
  }

  .bg-image {
    opacity: 0.1;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .quote-card {
    background: #dcf4ff;
    border-radius: 8px;

    p {
      color: #03152d;
      font-weight: 500;
    }

    .title {
      color: #016836;
      font-weight: 800;
    }
  }

  .info-card {
    border: 3px solid #ffffff;
    padding: h.rem(16);
    max-width: h.rem(263);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .number {
      font-size: h.rem(60);
      font-weight: 700;
      color: #34afbf;
      line-height: 1;
    }

    .suffix {
      position: relative;
      font-size: h.rem(18);
      font-weight: 500;
    }

    .footer {
      position: relative;
      font-size: h.rem(14);
      font-weight: 300;
      color: #ffffff;
    }
  }

  .text-row {
    margin-top: h.rem(40);

    p {
      font-weight: 500;

      &:not(:last-of-type) {
        margin-bottom: h.rem(16);
      }
    }
  }

  @media screen and (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 0;

    .upper-decoration {
      top: -258px;

      .gradient {
        height: 182px;
      }
    }

    .side-decoration {

      img {
        width: h.rem(550);
      }
    }

    .container {
      margin-top: h.rem(102);
    }

    .info-card {
      padding: h.rem(32) h.rem(32) h.rem(12);
      max-width: h.rem(263);
      align-items: flex-start;

      .number {
        font-size: h.rem(140);
      }

      .suffix {
        top: h.rem(-22);
        font-size: h.rem(31);
      }

      .footer {
        top: h.rem(-22);
        font-size: h.rem(26);
      }
    }

    .quote-card {
  
      p {
        font-weight: 400;
      }
  
      .title {
        font-weight: 700;
      }
    }

    .text-row {
      margin-top: h.rem(80);
      p {
        font-weight: 500;

        &:not(:last-of-type) {
          margin-bottom: h.rem(30);
        }
      }
    }
  }
}
