@forward "queries";
@forward "mixins";
@use "../base/variables" as v;

@mixin woo-form($row-gap: 1rem) {
  label {
    color: #565656;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1rem;
  }

  .woocommerce-form-row,
  .form-row {
    margin-bottom: calc($row-gap / 2);
  }

  input,
  select, .select2-container .select2-selection {
    padding: 0.5rem;
    border-radius: 0;
    border: 1px solid #b8b8b8;
    font-size: 1rem;
    font-weight: 500;

    &::placeholder {
      color: #a7a7a7;
    }
  }

  .select2-container .select2-selection {
    height: auto;
    position: relative;

    .select2-selection__arrow {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  em {
    font-weight: 400;
    font-size: small;
    font-style: normal;
  }

  input[type="submit"],
  button[type="submit"] {
    padding: 0.875rem 3.5625rem;
    background-color: v.$primary;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 700;
    color: white;
    border-radius: 0;
  }

  fieldset {
    legend {
      @include title-style-1();
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      margin-bottom: calc($row-gap / 2);
    }
  }

  @media screen and (min-width: 992px) {
    label {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    .woocommerce-form-row,
    .form-row {
      margin-bottom: $row-gap;
    }

    input,
    select {
      padding: 1rem 0.875rem;
      font-size: 1rem;
    }

    input[type="submit"],
    button[type="submit"] {
      padding: 1.3125rem 6.5625rem;
      font-size: 1.0625rem;
    }

    fieldset {
      legend {
        font-size: 1.125rem;
        margin-bottom: $row-gap;
      }
    }
  }
}

@mixin title-style-1() {
  position: relative;

  &::after {
    content: "";
    width: 2.5rem;
    height: 0.375rem;
    background: #cf0a2c;
    display: block;
    margin-top: 1.12rem;
  }
}
