@use "../base/variables" as v;
@use "./mixins" as m;

@mixin decorativeTitle() {
  position: relative;
  background: v.$primary;
  color: #353535;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    inset-inline-start: 0;
    transform: translate(-50%, -50%) rotateZ(45deg);
    width: 10px;
    height: 10px;
    background-color: #0abb93;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    inset-inline-end: 0;
    transform: translate(50%, -50%) rotateZ(45deg);
    width: 10px;
    height: 10px;
    background-color: #0abb93;
  }
}

@mixin decorativeTitle2() {
  position: relative;
  padding-bottom: m.rem(23);
  text-align: center;
  font-size: m.rem(20);

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    width: m.rem(110);
    height: 3px;
    background-color: rgba(120, 113, 91, 1);
    border-radius: 3px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    inset-inline-start: 50%;
    transform: translate(-50%, 50%);
    width: 14px;
    height: 14px;
    border-radius: 14px;
    background-color: rgba(120, 113, 91, 1);
  }

  @media screen and (min-width: 992px) {
    font-size: m.rem(28);
  }
}

@mixin newsBtn() {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: m.rem(14);
  line-height: 1;
  color: #055c53;
  gap: m.rem(10);

  span {
    color: #055c53;
  }

  @media screen and (min-width: 992px) {
    
    font-size: m.rem(20);
    line-height: 1;
    gap: m.rem(14);
  }
}

@mixin saudiTitle($which-is-colored: "last") {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: m.rem(40);

  h5 {
    font-size: m.rem(16);
    font-weight: 500;

    @if ($which-is-colored == "last") {
      &:last-of-type {
        color: #18e1b4;
      }
    } @else {
      &:first-of-type {
        color: #18e1b4;
      }
    }

  }

  i {
    display: inline-table;
    text-align: center;
  }

  @media screen and (min-width: 992px) {
    margin-bottom: m.rem(77);

    h5 {
      font-size: m.rem(30);
      line-height: m.rem(42);
    }
  }
}

@mixin dashedline($height: 10px, $angle: 75deg, $color: white, $gap: 15px, $offset: 16) {
  border-top: $height solid transparent;
	border-image: $offset repeating-linear-gradient($angle, $color 0, $color 1px, transparent 0, transparent $gap,
	              $color 0, $color 6px, transparent 0, transparent 6px);
	
	width: 100%;
}
