section.hero {
  height: 100vh;

  img.bg-image {
    z-index: -1;
  }

  .container {
    height: 100%;
  }

  .card {
    padding-top: h.rem(53);
    padding-bottom: h.rem(20);
    padding-inline: h.rem(58);
    max-width: h.rem(810);
    background-color: rgba(4, 30, 54, 0.8);
    backdrop-filter: blur(4px);
    border-top-left-radius: 32px;
    border-bottom-right-radius: 40px;

    .header {
      @include h.decorativeTitle();
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      padding: h.rem(13) h.rem(24) h.rem(0);
      font-weight: 700;
      font-size: h.rem(28);
      line-height: h.rem(33);
    }

    .suffix {
      span {
        font-weight: 500;
        font-size: h.rem(24);
        color: #BCBCBC;
      }
    }

    .content {
      margin-bottom: h.rem(24);

      h4 {
        text-align: center;
        font-size: h.rem(40);
      }
    }
  }

  footer {
    margin-bottom: h.rem(32);

    p {
      font-weight: 700;
      font-size: h.rem(24);
      line-height: h.rem(30);
      text-align: center;
      margin-bottom: h.rem(30);
    }

    a.btn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: h.rem(20);
      line-height: 1;
      color: #055C53;
      gap: h.rem(14);

      span {
        color: #055C53;
      }
    }
  }
}
