<!-- Central-content-2 -->
<!-- {
        "upperDecoration": image,
        "bgImage1": image,
    } -->
    <section class="central-content mt-0 mb-big">
        <img src="@@upperDecoration" alt="" class="decoration">
        <div class="container content-container">
            <div class="row">
                <div class="col-12 d-flex flex-column justify-content-start align-items-center">
                    @@include('./parts/quote-card.part.html')
                    @@include('./parts/title-ar.part.html')
                    @@include('./parts/fish-production-chart.part.html')
                </div>
            </div>
        </div>
    </section>