<!-- Central-content-2 -->
<!-- {
        "upperDecoration": image,
        "bgImage1": image,
    } -->
<section class="central-content mt-0 mb-big">
    <img loading="lazy" src="@@upperDecoration" alt="" class="decoration">
    <div class="container content-container">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-start align-items-center">
                @@include('./parts/en/quote-card-en.part.html')
                @@include('./parts/en/title-en.part.html')
                @@include('./parts/en/fish-production-chart-en.part.html')
            </div>
        </div>
    </div>
</section>