<section class="central-content-5">
    <div class="container">
        <h3 class="title-style-4">أدوات التنظيم الشائعة لضبط ملوحة المياه المالحة في محطات التحلية</h3>
        <div class="cards-container d-flex flex-column align-items-center">
            @@include('./parts/icon-text.part.html', {
                "icon": "webp/resolution/check.webp",
                "title": "التقييمات البيئية (EIA)",
                "text": "تُعد التقييمات البيئية شرطًا أساسيًا للموافقة على بناء محطات التحلية الجديدة؛ حيث تساعد على تحديد التأثيرات البيئية المحتملة للمشاريع. في تشيلي، تُستخدم أنواع مختلفة من التقييمات حسب المشروع والموقع."
            })
            @@include('./parts/icon-text.part.html', {
                "icon": "webp/resolution/chart.webp",
                "title": "خطط المراقبة البيئية (EMP)",
                "text": "تُعد هذه الخطط مكملاً للتقييمات البيئية، وتستخدم لتحديد الآثار السلبية المحتملة على البيئة ووضع إجراءات لمراقبتها. في تشيلي، تُعتبر هذه الخطط شائعة، وهناك توجه لزيادة استخدامها في المستقبل. كما تستخدم إسبانيا خطط مراقبة طويلة الأجل لضمان تقييم بيئي شامل."
            })
            @@include('./parts/icon-text.part.html', {
                "icon": "webp/resolution/badge.webp",
                "title": "تحديد معايير جودة المياه",
                "text": "بعض الدول تضع معايير خاصة لجودة المياه المالحة المتدفقة إلى البحر، مثل تحديد مستويات الملوحة أو درجة الحرارة أو المواد الكيميائية المسموح بها. في الولايات المتحدة وكندا وأستراليا، يتم تطبيق هذه المعايير بشكل صارم."
            })
            @@include('./parts/icon-text.part.html', {
                "icon": "webp/resolution/pin.webp",
                "title": "تحديد مناطق الخلط",
                "text": "بعض المناطق تسمح بخلط المياه المالحة مع مياه البحر في مناطق محددة لتقليل الأثر البيئي. تُعد هذه الممارسة شائعة في أمريكا الشمالية؛ حيث يتم تحديد مناطق الخلط بناءً على خصائص المياه المالحة والبيئة المحلية."
            })
            @@include('./parts/icon-text.part.html', {
                "icon": "webp/resolution/warn.webp",
                "title": "التنظيم الطارئ",
                "text": "بعض البلدان مثل إسبانيا تطبق إجراءات طارئة إذا تجاوزت مستويات جودة المياه الحدود المقررة. تشمل هذه الإجراءات تحديد السبب واتخاذ خطوات لتقليل التأثيرات البيئية مثل تقليل التدفق أو تخفيف المياه المالحة قبل التفريغ."
            })
            @@include('./parts/icon-text.part.html', {
                "icon": "webp/resolution/angle.webp",
                "title": "التنظيم على مستوى القطاع",
                "text": "بعض الدول تعتمد تنظيمات واسعة النطاق لحماية النظم البيئية البحرية؛ مثل التقييمات الاستراتيجية للأثر (SEA) التي تدرس التأثيرات البيئية طويلة المدى للأنشطة مثل التحلية. كما يُستخدم التخطيط البحري المكاني (MSP) لتحديد حدود التحميل البيئي المقبولة في مناطق معينة."
            })
        </div>
        
        <div class="suffix-card">
            <p>المصدر: ورقة بحثية Governing desalination, managing the brine: A review and systematization of regulatory and socio-technical issues</p>
        </div>

        <p>
            ينبّه السعيدي أنه من المهم تذكر أن القوانين واللوائح على الورق، لا قيمة لها إذا لم يكن هناك آلية فعّالة لإنفاذها. لذا يجب أن نتجنب فرض قوانين غير قابلة للتنفيذ، وأن نركز بدلاً من ذلك على دعم هذه المحطات تدريجيًا، وتطوير البنية التحتية للمياه بشكل شامل. يجب أن يشمل هذا ليس فقط الإنتاج، ولكن أيضًا إعادة الاستخدام والتخزين. من خلال هذا النهج التدريجي، يمكننا دعم محطات تحلية المياه وتحفيزها على تحسين استدامتها البيئية، دون التأثير بشكل سلبي على سير العمل، أو زيادة الأعباء بشكل مفاجئ.
        </p>
    </div>
</section>