<section class="central-content-5">
    <div class="container">
        <h3 class="title-style-4">Standard Regulatory Tools for Controlling Brine Salinity in Desalination Plants</h3>
        <div class="cards-container d-flex flex-column align-items-center">
            @@include('./parts/icon-text.part.html', {
                "icon": "webp/resolution/check.webp",
                "title": "Environmental Impact Assessments (EIA)",
                "text": "EIAs are a fundamental requirement for approving the construction of new desalination plants. They help identify the potential environmental impacts of such projects. In Chile, various types of assessments are used depending on the project and location. However, these assessments face challenges in regions like the Arabian Gulf, where they are not consistently applied."
            })
            @@include('./parts/icon-text.part.html', {
                "icon": "webp/resolution/chart.webp",
                "title": "Environmental Monitoring Plans (EMP)",
                "text": "These plans complement EIAs by identifying potential adverse environmental impacts and establishing monitoring procedures. In Chile, EMPs are commonly used, and their application is increasing. Spain also implements long-term monitoring plans to ensure comprehensive environmental evaluations."
            })
            @@include('./parts/icon-text.part.html', {
                "icon": "webp/resolution/badge.webp",
                "title": "Setting Water Quality Standards",
                "text": "Some countries establish specific standards for the quality of brine discharged into the sea, such as limits on salinity levels, temperature, or allowable chemical concentrations. These standards are strictly enforced in the United States, Canada, and Australia. In Saudi Arabia, however, the lack of adequate oversight on discharge standards poses challenges for implementing environmental regulations."
            })
            @@include('./parts/icon-text.part.html', {
                "icon": "webp/resolution/pin.webp",
                "title": "Defining Mixing Zones",
                "text": "Certain regions allow the mixing of brine with seawater in designated areas to mitigate environmental impact. This practice is common in North America, where mixing zones are defined based on the properties of the brine and the local environment."
            })
            @@include('./parts/icon-text.part.html', {
                "icon": "webp/resolution/warn.webp",
                "title": "Emergency Regulations",
                "text": "Some countries, like Spain, implement emergency measures when water quality levels exceed permissible thresholds. These measures include identifying the cause, taking steps to reduce environmental impacts, such as lowering discharge rates or diluting brine before release."
            })
            @@include('./parts/icon-text.part.html', {
                "icon": "webp/resolution/angle.webp",
                "title": "Sector-Wide Regulations",
                "text": "Some nations adopt broad regulations to protect marine ecosystems. These include Strategic Environmental Assessments (SEAs), which evaluate the long-term environmental impacts of activities like desalination. Marine Spatial Planning (MSP) also defines acceptable environmental load limits in specific areas."
            })
        </div>
        
        <div class="suffix-card">
            <p>Source: Governing desalination, managing the brine: A review and systematization of regulatory and socio-technical issues</p>
        </div>

        <p>
            Dr. Al-Saidi stresses the importance of remembering that laws and regulations are meaningless without an effective enforcement mechanism. He emphasizes the need to avoid imposing impractical laws and instead focus on gradually supporting desalination plants while comprehensively developing water infrastructure. This approach should include not only production but also reuse and storage. Through such a gradual strategy, desalination plants can be encouraged to enhance their environmental sustainability without disrupting operations or imposing sudden burdens.
        </p>
    </div>
</section>