<!-- Alternating Cards -->
<!-- {
    "bgImage": image,
}
  -->

<section class="alternating-cards">
    <img loading="lazy" src="@@bgImage" alt="" class="bg-image">
    <div class="gradient gradient-top"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 d-flex justify-content-center align-items-center">
                @@include('./parts/quote-card-1-ar.part.html')
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 offset-lg-7 col-12 d-flex justify-content-center align-items-center">
                @@include('./parts/quote-card-2-ar.part.html')
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12 d-flex justify-content-center align-items-center">
                @@include('./parts/quote-card-3-ar.part.html')
            </div>
        </div>
    </div>
    <div class="gradient gradient-bottom"></div>
</section>