section.bg-card-1 {
  padding-top: h.rem(50);
  width: 100%;
  height: 60vh;

  img.bg-image {
    @include h.appDirValue(
      transform,
      translate(-50%, -50%) rotateY(180deg),
      translate(50%, -50%)
    );
  }

  .decoration {
    height: h.rem(150);
  }

  .top-decoration {
    background: linear-gradient(0deg, rgba(0, 24, 58, 0) 0%, #030101 100%);
  }
  .bottom-decoration {
    transform: rotateZ(180deg);
    background: linear-gradient(0deg, rgba(0, 24, 58, 0) 0%, #302112 100%);
  }

  .content-card-1 {
    background-color: #302112F2;
    padding: h.rem(24);
    border-inline-start: 6px solid #b76635;

    p {
      color: #A49987;
    }
  }

  @media screen and (min-width: 992px) {
    padding-top: h.rem(116);
    height: 100vh;

    .decoration {
      height: h.rem(314);
    }

    .content-card-1 {
      padding: h.rem(32);
      border-inline-start: 6px solid #b76635;
    }
  }
}
