section.bg-card-16 {
  min-height: 70vh;
  padding: h.rem(60) 0;

  .card {
    padding: h.rem(32);
    background-color: #5c513df2;
  }

  h6 {
    color: #A49987;
    font-size: h.rem(32);
    font-weight: 500;
    margin-bottom: h.rem(26);
  }

  p:not(:last-of-type) {
    margin-bottom: h.rem(40);
  }

  @media screen and (min-width: 992px) {
    min-height: 100vh;

    .card {
      padding: h.rem(32);
    }

    h6 {
      font-size: h.rem(32);
      margin-bottom: h.rem(26);
    }

    p:not(:last-of-type) {
      margin-bottom: h.rem(40);
    }
  }
}
