section.dynamic-content-3 {
  padding: h.rem(60) 0;
  p {
    margin-bottom: h.rem(20);
  }

  .targets-container {
    margin-bottom: 0;
  }

  .pins {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;

    img {
      position: absolute;
      max-height: 50px;
      width: auto;
    }

    .om-alsagheer {
      top: -10%;
      @include h.appDirValue(right, 21%, 21%);
    }

    .abo-shereef {
      top: 3%;
      @include h.appDirValue(right, 40%, 40%);
    }

    .aghroomy {
      top: 22%;
      @include h.appDirValue(right, 56%, 56%);
    }

    .madeenet-sewa {
      top: 36%;
      @include h.appDirValue(right, 62%, 62%);
    }

    .bahy-el-deen {
      top: 45%;
      @include h.appDirValue(right, 73%, 73%);
    }

    .maraky {
      top: 53%;
      @include h.appDirValue(right, 87%, 87%);
    }
  }

  .legend {
    @include h.appDirValue(align-self, flex-end, flex-start);
  }

  .buttons-container {
    margin-bottom: h.rem(60);
  }

  @media screen and (min-width: 992px) {
    padding: h.rem(130) 0;

    p {
      margin-bottom: h.rem(40);
    }

    .pins {
      img {
        max-height: 150px;
      }

      .om-alsagheer {
        top: 0%;
        @include h.appDirValue(right, 21%, 21%);
      }

      .abo-shereef {
        top: 13%;
        @include h.appDirValue(right, 40%, 40%);
      }

      .aghroomy {
        top: 32%;
        @include h.appDirValue(right, 56%, 56%);
      }

      .madeenet-sewa {
        top: 46%;
        @include h.appDirValue(right, 65%, 65%);
      }

      .bahy-el-deen {
        top: 55%;
        @include h.appDirValue(right, 76%, 76%);
      }

      .maraky {
        top: 67%;
        @include h.appDirValue(right, 87%, 87%);
      }
    }
  }
}
