@font-face {
  font-family: "Tajawal";
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  vertical-align: middle;
  src: url("../../fonts/Tajawal-ExtraLight.ttf")
    format("truetype");
}

@font-face {
  font-family: "Tajawal";
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  vertical-align: middle;
  src: url("../../fonts/Tajawal-Light.ttf")
    format("truetype");
}
@font-face {
  font-family: "Tajawal";
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  vertical-align: middle;
  src: url("../../fonts/Tajawal-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Tajawal";
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  vertical-align: middle;
  src: url("../../fonts/Tajawal-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Tajawal";
  font-weight: 800;
  font-style: normal;
  line-height: normal;
  vertical-align: middle;
  src: url("../../fonts/Tajawal-Bold.ttf")
    format("truetype");
}
@font-face {
  font-family: "DGBebo";
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  vertical-align: middle;
  src: url("../../fonts/DG BeboT.ttf")
    format("truetype");
}
@font-face {
  font-family: "DGBebo";
  font-weight: 800;
  font-style: normal;
  line-height: normal;
  vertical-align: middle;
  src: url("../../fonts/DG Bebo B.ttf")
    format("truetype");
}
