<!-- Quote Section -->
<!-- {
        "bottomImage": image, 
        "video": string, 
        "vidThumbImage": string, 
    } -->
<div class="popup"></div>
<section class="quote">
    <div class="container">
        @@include('./parts/upper-para-ar.part.html')

        <div class="content-wrapper">
            <div class="thumb-container">
                <img src="@@vidThumbImage" alt="Video Thumbnail">
            </div>
            <div class="quote-container">

            </div>
        </div>
    </div>
</section>