<!-- Quote Section -->
<!-- {
        "bottomImage": image, 
        "video": string, 
        "vidThumbImage": string, 
    } -->
<div class="popup"></div>
<section class="quote">
    <div class="container">
        @@include('./parts/upper-para-ar.part.html')

        <div class="content-wrapper">
            <div class="thumb-container animate fade-in" onclick="document.openPopup(event)">
                <img src="@@vidThumbImage" alt="Video Thumbnail">
                <video src="@@video" class="popup-target" controls></video>
            </div>
            <div class="quote-container">
                <div class="quote-card show-icon animate fade-in">
                    <span class="icon-quote">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </span>
                    @@include('./parts/card-content-ar.part.html')
                </div>
            </div>
        </div>
    </div>

    <img src="@@bottomImage" alt="chimnies" class="decoration">
</section>