section.bg-caption-1 {
  padding-top: h.rem(80);
  padding-bottom: h.rem(60);

  img.bg-image {
    z-index: -1;
  }

  .quote-card {
    h5 {
      font-size: h.rem(24);
      margin-bottom: h.rem(18);
      font-weight: 700;
      color: #18e1b4;
    }

    p {
      font-size: h.rem(18);
      margin-bottom: h.rem(18);

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &.alt {
      background: #01303AE5;
      border-radius: h.rem(16);
    }
  }

  .decoration {
    top: 0;
    transform: none;
  }

  @media screen and (min-width: 992px) {
    padding-top: h.rem(191);
    padding-bottom: h.rem(120);

    .quote-card {
      h5 {
        font-size: h.rem(40);
        margin-bottom: h.rem(24);
      }

      p {
        font-size: h.rem(24);
        margin-bottom: h.rem(24);
      }
    }
  }
}
