section.bg-caption-1 {
  padding-top: h.rem(80);
  padding-bottom: h.rem(60);

  img.bg-image {
    z-index: -1;
  }

  .quote-card {
    h5 {
      font-size: h.rem(24);
      margin-bottom: h.rem(18);
      font-weight: 700;
      color: #18e1b4;
    }

    p {
      font-size: h.rem(18);
      margin-bottom: h.rem(18);

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &.alt {
      background: #01303ae5;
      border-radius: h.rem(16);
    }

    &.alt-2 {
      border-start-start-radius: h.rem(32);
      border-end-end-radius: h.rem(32);
    }

    &.alt-4 {
      border-radius: 8px;
      padding: h.rem(20);
      background: #068b92f7;

      h5 {
        font-size: h.rem(18);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: h.rem(18);
        gap: h.rem(12);
        line-height: 0;
        color: #F2C94C;
      }
    }
  }

  .decoration {
    top: 0;
    transform: rotateZ(180deg);
  }

  .triangle {
    position: absolute;
    bottom: 0;
    z-index: 2;
    @include h.arrow("left", #03152D, 50px, 50px, "solid");
    inset-inline-end: 0;
    transform: translateY(50%);
  }

  @media screen and (min-width: 992px) {
    padding-top: h.rem(191);
    padding-bottom: h.rem(120);

    &.padding-alt {
      padding: h.rem(234) 0;
    }

    .quote-card {
      h5 {
        font-size: h.rem(40);
        margin-bottom: h.rem(24);
      }

      p {
        font-size: h.rem(24);
        margin-bottom: h.rem(24);
      }

      &.alt-4 {
        padding: h.rem(26) h.rem(34);

        h5 {
          font-size: h.rem(26);
          margin-bottom: h.rem(30);
          gap: h.rem(16);
        }
      }
    }

    .triangle {
      @include h.arrow("left", #03152D, 169px, 169px, "solid");
    }
  }
}
