.central-content-1 {
  position: relative;
  padding: h.rem(40);

  .decoration {
    top: 0;
    transform: translateY(-70%);
  }

  .bg-image {
    z-index: -1;
  }

  .content-container {
    position: relative;
    z-index: 1;
  }

  .media-container:not(:last-of-type) {
    margin-bottom: h.rem(30);

    &.water-sol-title {
      margin-bottom: 0;
    }
  }

  .media-caption {
    text-align: center;
    font-size: h.rem(24);
    font-weight: 500;
    margin-bottom: h.rem(24);
  }

  .small-title {
    font-size: h.rem(24);
    font-weight: 700;
    text-align: center;
    margin-bottom: h.rem(18);
    color: #c6904a;
    position: relative;
    padding-bottom: h.rem(18);

    &::after {
      content: "";
      width: h.rem(30);
      height: h.rem(4);
      border-radius: h.rem(4);
      background: #a6863e;
      position: absolute;
      bottom: 0;
      inset-inline-start: 50%;
      transform: translateX(-50%);
    }
  }

  .small-title-caption {
    font-size: h.rem(18);
    font-weight: 500;
    text-align: center;
    margin-bottom: h.rem(30);
  }

  .title-img-row {
    margin-bottom: h.rem(10);
    display: flex;
    gap: h.rem(20);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .title-img {
      margin-bottom: h.rem(30);
      max-width: h.rem(176);
      min-width: h.rem(170);
    }
  }

  .title-img-row-caption {
    font-size: h.rem(18);
    font-weight: 700;
    color: #f9bd3a;
    margin-bottom: h.rem(50);
    text-align: center;
  }

  .usage-title {
    text-align: center;
    margin-bottom: h.rem(16);

    p {
      font-weight: 500;
      font-size: h.rem(18);
    }
  }

  .cards-container {
    .card {
      display: flex;
      gap: h.rem(30);
      margin-bottom: h.rem(40);

      img {
        max-width: h.rem(90);
        aspect-ratio: 1/1;
        max-height: h.rem(90);
      }

      .media-container {
        display: flex;
        flex-direction: column;
        gap: h.rem(7);

        .upper {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: h.rem(8);

          span.number {
            font-size: h.rem(36);
            color: #f9bd3a;
            font-weight: 700;
          }

          span {
            display: inline-block;

            &.caption {
              display: flex;
              flex-direction: column;
              font-size: h.rem(16);
              font-weight: 500;

              span.title {
                color: #f9bd3a;
              }
            }
          }
        }

        .lower {
          .number {
            font-size: h.rem(26);
            font-weight: 700;
            // margin-bottom: h.rem(6);
            color: #f9bd3a;
          }

          p {
            font-weight: 500;
            font-size: h.rem(12);
          }
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    padding: h.rem(133);
    margin-bottom: -70px;

    .decoration {
      transform: translateY(-70%);
    }

    .media-container:not(:last-of-type) {
      margin-bottom: h.rem(95);
    }

    .small-title {
      font-size: h.rem(36);
      margin-bottom: h.rem(37);
      padding-bottom: h.rem(28);

      &::after {
        width: h.rem(60);
        height: h.rem(6);
        border-radius: h.rem(6);
      }
    }

    .small-title-caption {
      font-size: h.rem(26);
      margin-bottom: h.rem(72);
    }

    .title-img-row {
      margin-bottom: h.rem(42);
      gap: h.rem(98);

      .title-img {
        margin-bottom: 0;
      }
    }

    .title-img-row-caption {
      font-size: h.rem(25);
      margin-bottom: h.rem(102);
    }

    .usage-title {
      margin-bottom: h.rem(32);

      p {
        font-weight: 500;
        font-size: h.rem(26);
      }
    }

    .cards-container {
      .card {
        gap: h.rem(16);
        margin-bottom: h.rem(90);

        img {
          min-width: h.rem(140);
          max-width: unset;
          max-height: unset;
        }

        .media-container {
          gap: h.rem(31);

          .upper {
            gap: h.rem(7);

            span.number {
              font-size: h.rem(58);
              min-width: h.rem(40);
              line-height: normal;
            }

            span {

              &.caption {
                font-size: h.rem(22);

                span.title {
                  line-height: normal;
                }
              }
            }
          }

          .lower {
            .number {
              font-size: h.rem(42);
              line-height: h.rem(17);
              margin-bottom: h.rem(12);
            }

            p {
              font-size: h.rem(16);
            }
          }
        }
      }
    }
  }
}
