section.hero {
  height: 100vh;


  .gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: h.rem(100);
    background: linear-gradient(180deg, rgba(19, 17, 30, 0) 0%, #03152d 75%);
  }

  @media screen and (min-width: 992px) {
    height: unset;
    aspect-ratio: 16/9;
    width: 100%;

    .gradient {
      display: none;
    }
  }
}
