section.banner-section-1 {
  background-color: #010f20;
  padding: h.rem(40) 0 h.rem(16);

  p:first-of-type {
    margin-bottom: h.rem(16);
  }

  img {
    max-width: 60px;
    height: auto;
    margin-top: h.rem(20);
  }

  @media screen and (min-width: 992px) {
    padding: h.rem(77) 0 h.rem(32);

    p:first-of-type {
      margin-bottom: h.rem(30);
    }

    img {
      max-width: 184px;
      margin-top: 0;
    }
  }
}
