section.central-content-4 {
  padding: h.rem(50) 0 h.rem(25);
  position: relative;

  .gradient {
    background: linear-gradient(180deg, rgba(19, 17, 30, 0) 0%, #020f1f 75%);
    transform: rotateZ(180deg);
    position: absolute;
    top: 0;
    height: h.rem(50);
    width: 100%;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  h5 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: h.rem(10);
    font-size: h.rem(16);
    font-weight: 800;
    margin-bottom: h.rem(20);
    color: #F2C94C;
  }

  P {
    margin-bottom: h.rem(16);
  }

  @media screen and (min-width: 992px) {
    padding: h.rem(131) 0 h.rem(50);

    .gradient {
      background: linear-gradient(180deg, rgba(19, 17, 30, 0) 0%, #020f1f 75%);
      height: h.rem(191);
    }

    h5 {
      gap: h.rem(18);
      font-size: h.rem(26);
      margin-bottom: h.rem(40);
    }

    P {
      margin-bottom: h.rem(30);
    }
  }
}
