section.central-content-5 {
  padding: h.rem(40) 0 h.rem(20);
  background-color: #00040a;

  .title-style-4 {
    width: fit-content;
    margin-inline: auto;
    margin-bottom: h.rem(30);
  }

  .text-icon-card:not(:last-of-type) {
    margin-bottom: h.rem(25);
  }

  .suffix-card {
    color: #18e1b4;
    padding: h.rem(8);
    border: 1px solid #18e1b4;
    border-radius: 8px;
    transition: all 0.5s;
    margin: h.rem(25) 0 h.rem(18);

    &:hover {
      box-shadow: 0 0 h.rem(20) 0 #18e1b4;
    }
  }

  @media screen and (min-width: 992px) {
    padding: h.rem(81) 0 h.rem(40);

    .title-style-4 {
      margin-bottom: h.rem(60);
    }

    .text-icon-card:not(:last-of-type) {
      margin-bottom: h.rem(50);
    }

    .suffix-card {
      padding: h.rem(16);
      margin: h.rem(45) 0 h.rem(34);
    }
  }
}
