section.banner-7 {
  .lakes-2 {
    top: 6%;
    @include h.appDirValue(right, 70%, 70%);
  }
  .unsuitable {
    top: 20%;
    @include h.appDirValue(right, -1%, -1%);
  }
  .low {
    top: 42%;
    @include h.appDirValue(right, -1%, -1%);
  }
  .moderate {
    top: -1%;
    @include h.appDirValue(right, 36%, 36%);
  }

  @media screen and (min-width: 992px) {
    .lakes-2 {
      top: 17%;
      @include h.appDirValue(right, 66%, 66%);
    }
    .unsuitable {
      top: 32%;
      @include h.appDirValue(right, 1%, 1%);
      transform: none !important;
    }
    .low {
      top: 63%;
      @include h.appDirValue(right, -4%, -4%);
    }
    .moderate {
      top: -2%;
      @include h.appDirValue(right, 33%, 33%);
    }
  }
}
