<section class="central-content-4">
    <div class="gradient"></div>
    <div class="container">
        <h5 class="animate fade-in">
            <i class="icon-star"></i>
            الوائح تنظيمية
        </h5>
        <p class="animate fade-in">
            يشير العديد من الباحثين ممن تواصلتْ معهم "مواطن"، أن تغيير التكنولوجيا يمكنه أن تحل أزمة المحلول الملحي
            الناتج عن محطات تحلية المياه، ولكن ما قد يعوق الاستفادة الكاملة منها، هو غياب اللوائح التنظيمية الصارمة التي
            تضمن استدامة النهج الأخضر. تختلف الأدوات التنظيمية الخاصة بإدارة ملوحة المياه المالحة بين الدول، تبعًا
            للمتطلبات البيئية والظروف المحلية. إلا أن هناك نقصًا ملحوظًا في اللوائح التنظيمية في منطقة الخليج.
        </p>
        <p class="animate fade-in">
             يقول "السعيدي": "نحن بحاجة إلى وضع معايير واضحة وفعّالة، وكذلك إلى مراقبة تطبيق هذه المعايير. لكن إذا نظرنا
            إلى الأدبيات المتوفرة لدينا، نلاحظ أنه من غير المتبع دائمًا الالتزام بتلك المعايير بشكل صارم، حتى لو كانت
            هناك معايير موجودة في بعض الدول مثل المملكة العربية السعودية؛ فهي بحاجة إلى مراقبة فعالة، مع ضرورة تحديد ما
            يجب فعله في حال عدم الالتزام بهذه المعايير. وفي هذا السياق، يمكننا الحديث عن ضرورة وجود خطط بيئية طارئة،
            وآليات رصد فعّالة، لكن يا للأسف، هذه الخطط ليست شائعة في دول الخليج مقارنة ببقية الدول.
        </p>
        <p class="animate fade-in">
            يضيف "السعيدي"، قمنا بمراجعة بعض الدراسات، ووجدنا أن التنظيم البيئي كان المحرك الرئيس لتطوير التكنولوجيا؛
            فبمجرد أن تفرض على محطات تحلية المياه الالتزام بالحدود البيئية وتقديم خطط مراقبة، يتحول هذا إلى عنصر تكلفة
            مهم بالنسبة لهذه المحطات، وبالتالي يحفزهم على الابتكار. هذا يشمل تقنيات جديدة أو حتى استخراج المعادن من
            المياه المالحة وبيعها. وهذا بدوره يؤدي إلى تطور التكنولوجيا، وهو ما شهدناه في الولايات المتحدة ودول أخرى
            نتيجة للأنظمة البيئية.
        </p>
        <p class="animate fade-in">
            ويقول: في الخليج، نحن بحاجة إلى تعزيز هذه الأنظمة البيئية، لكن كصانع سياسات، يجب أن ندرك أن الواقع مختلف؛
            فهناك مدن مثل الرياض وأبو ظبي ودبي تعتمد على عدد قليل من المحطات لتلبية احتياجاتها. لذلك، من الممكن العمل
            بشكل وثيق مع هذه المحطات، لأن عددها محدود، ولكن لا يمكننا فرض تشريعات بيئية صارمة، إذا كانت تلك المحطات غير
            قادرة على تنفيذها عمليًا.
        </p>
        <p class="animate fade-in">
            وضحت ورقة بحثية عمل عليها السعيدي عام ٢٠٢٣، أن هناك ست طرق تنظيمية شائعة في العالم للتعامل مع المحلول الملحي
            بطريقة تنظيمية.
        </p>
    </div>
</section>