<section class="banner-section-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 d-flex flex-column justify-content-center align-items-start">
                <p class="animate fade-in d-start">
                    ويكمل: على الرغم من أن بعض الحلول قد تم تنفيذها على نطاق صغير في دول مثل السعودية والإمارات؛ إلا أن
                    التحديات الاقتصادية والسياسية تجعل الحلول على المدى القصير صعبة. كما أن هناك حاجة لتطوير سياسات أفضل
                    لضمان استدامة إمدادات المياه.
                </p>
                <p class="animate fade-in d-start">
                    كما يعتقد "السعيدي" أن أزمة المحلول الملحي قد تستغرق عقدين من الزمن لحلها في الدول الخليجية؛ خاصة مع
                    التحديات المرتبطة بتغير المناخ وزيادة الطلب على المياه.
                </p>
            </div>
            <div class="col-lg-4 d-flex justify-content-center justify-content-lg-start align-items-center order-first order-lg-last">
                <img src="webp/resolution/droplet.webp" loading="lazy" class="animate fade-in d-end">
            </div>
        </div>
    </div>
</section>