<section class="banner-section-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 d-flex flex-column justify-content-center align-items-start">
                <p class="animate fade-in d-start">He continues: “While some solutions have been implemented on a small
                    scale in countries like Saudi Arabia and the UAE, economic and political challenges make short-term
                    solutions difficult. There’s also a pressing need for better policies to ensure the sustainability
                    of water supplies.”
                </p>
                <p class="animate fade-in d-start">
                    Dr. Al-Saidi believes that resolving the brine crisis in the Gulf
                    could take up to two decades, especially with challenges related to climate change and increasing
                    water demand.
                </p>
            </div>
            <div
                class="col-lg-4 d-flex justify-content-center justify-content-lg-start align-items-center order-first order-lg-last">
                <img src="webp/resolution/droplet.webp" loading="lazy" class="animate fade-in d-end">
            </div>
        </div>
    </div>
</section>