<div class="central-content-1">
    <img src="@@bgImg" class="bg-image" loading="lazy">
    <div class="decoration d-lg-block d-none">
        <img src="@@upperDecoration" loading="lazy">
    </div>
    <div class="container">
        <div class="content-container">
            @@include('./parts/water-sol-num-ar.part.html')
            @@include('./parts/water-sol-tech-ar.part.html')
            @@include('./parts/usage-title-ar.part.html')
            @@include('./parts/sol-usage-asset-ar.part.html')
        </div>
    </div>
</div>