<div class="central-content-1">
    <img src="@@bgImg" class="bg-image" loading="lazy">
    <div class="decoration d-lg-block d-none">
        <img src="@@upperDecoration" loading="lazy">
    </div>
    <div class="container">
        <div class="content-container">
            @@include('./parts/en/water-sol-num.part.html')
            @@include('./parts/en/water-sol-tech.part.html')
            @@include('./parts/en/usage-title.part.html')
            @@include('./parts/en/sol-usage-asset.part.html')
        </div>
    </div>
</div>