<section class="bg-card-1 bg-card-9 d-flex flex-column justify-content-end justify-content-lg-center align-items-center align-items-lg-start">
    <img src="webp/women/bg-card-9.webp" loading="lazy" class="bg-image">
    <div class="container d-relative z-1 p-relative">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-12">
                @@include('./parts/en/card.part.html')
            </div>
        </div>
    </div>
    <div class="decoration bottom-decoration"></div>
</section>