<!-- Quote Section -->
<!-- {
        "bottomImage": image, 
        "video": string, 
        "vidThumbImage": string, 
    } -->
<div class="popup"></div>
<section class="quote">
    <div class="decoration top-decoration">
        <img src="webp/global/ink-in-water-b.webp" loading="lazy">
    </div>
    <div class="container">
        <div class="content-wrapper">
            @@include('./parts/sec-title-ar.part.html')
            <div class="quote-card show-icon">
                <span class="icon-quote">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </span>
                <div class="thumb-container animate fade-in d-start" onclick="document.openPopup(event)">
                    <img loading="lazy" src="@@vidThumbImage" alt="Video Thumbnail">
                    <iframe width="100%" height="100%" class="popup-target" src="@@video" title="قطر" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="quote-container animate fade-in" data-delay="500">
                    @@include('./parts/card-content-ar.part.html')
                </div>
            </div>
            @@include('./parts/card-caption-ar.part.html')
            @@include('./parts/small-heading-ar.part.html')
            <div class="row cards-row">
                <div class="col-lg-4 col-md-6 mb-3 mb-gl-0 col-12 d-flex justify-content-center align-items-start">
                    @@include('../../global/icon-title-card/index.part.html', {
                    "icon": "webp/qatar/overheating-icon.webp",
                    "title": "الارتفاع الشديد في درجات حرارة المياه خلال فصل الصيف",
                    "delay": 100
                    })
                </div>
                <div class="col-lg-4 col-md-6 mb-3 mb-gl-0 col-12 d-flex justify-content-center align-items-start">
                    @@include('../../global/icon-title-card/index.part.html', {
                    "icon": "webp/qatar/ocean-icon.webp",
                    "title": "التيارات المائية الشديدة",
                    "delay": 300
                    })
                </div>
                <div class="col-lg-4 col-md-6 mb-3 mb-gl-0 col-12 d-flex justify-content-center align-items-start">
                    @@include('../../global/icon-title-card/index.part.html', {
                    "icon": "webp/qatar/factories-icon.webp",
                    "title": "محطات التحلية المقامة في المنطقة",
                    "delay": 600
                    })
                </div>
            </div>
            <div class="bottom-para-container">
                @@include('./parts/bottom-para-ar.part.html')
            </div>
        </div>
    </div>
    <!-- <div class="decoration">
        <img loading="lazy" src="@@bottomImage" alt="chimnies">
    </div> -->
</section>