section.banner-2 {
  padding: h.rem(40) 0;

  p {
    font-size: h.rem(18);
    font-weight: 300;
    color: white;
  }

  @media screen and (min-width: 992px) {
    padding: h.rem(71) 0;

    p {
      font-size: h.rem(22);
      font-weight: 300;
      color: white;
      line-height: h.rem(40);
    }
  }
}
