section.card-section-7 {
  padding-bottom: h.rem(40);
  padding-top: h.rem(40);

  .card {
    background-color: #1c0d00;
    padding: h.rem(22);

    h6 {
      font-weight: 500;
      font-size: h.rem(24);
      color: #a18150;
    }

    p {
      font-weight: 300;
      font-size: h.rem(18);
      color: white;

      &:first-of-type {
        margin-bottom: h.rem(16);
      }
    }
  }

  @media screen and (min-width: 992px) {
    height: h.rem(1279);
    padding-bottom: h.rem(111);
    padding-top: 0;

    .card {
      padding: h.rem(32);

      h6 {
        font-size: h.rem(32);
      }

      p {
        font-size: h.rem(22);
        line-height: h.rem(40);

        &:first-of-type {
          margin-bottom: h.rem(26);
        }
      }
    }
  }
}
