section.dynamic-content-10 {
  padding-bottom: h.rem(40);

  p {
    font-weight: 400;
    font-size: h.rem(18);
    color: white;

    &:not(:last-of-type) {
      margin-bottom: h.rem(16);
    }
  }
  .second-title {
    margin-top: h.rem(50);
  }

  .tabs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: h.rem(16);
    margin-bottom: h.rem(16);
    margin-top: h.rem(16);
  }

  @media screen and (min-width: 992px) {
    padding-bottom: h.rem(83);

    p {
      font-size: h.rem(22);
      line-height: h.rem(40);

      &:not(:last-of-type) {
        margin-bottom: h.rem(26);
      }
    }
    .second-title {
      margin-top: h.rem(136);
    }

    .tabs-container {
      gap: h.rem(39);
    }
  }
}
