section.dynamic-content-9 {
  padding: h.rem(40) 0 h.rem(80);
  background-color: #302112;

  img.bg-image {
    opacity: 0.3;
  }

  p {
    font-weight: 300;
    font-size: h.rem(18);
    color: white;
  }

  .media-container {
    height: h.rem(200);
    aspect-ratio: 16/9;
    margin: h.rem(35) auto;

    .icon-border {
      font-size: 28px;
      position: absolute;
      top: -12px;
      inset-inline-start: -6px;
    }

    video {
      border: 8px solid #5c513d;
    }
  }

  .decoration-container {
    position: absolute;
    bottom: 0;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: h.rem(60);
  }

  @media screen and (min-width: 992px) {
    padding: h.rem(494) 0 h.rem(294);

    p {
      font-size: h.rem(24);
      line-height: h.rem(42);
    }

    .decoration-container {
      height: h.rem(247);
    }

    .media-container {
      height: h.rem(586);
      margin: h.rem(96) auto;

      .icon-border {
        font-size: 76px;
        top: -32px;
        inset-inline-start: -22px;
      }
    }
  }
}
