section.dynamic-content-3 {
  padding: h.rem(60) 0 h.rem(24);
  background-color: #302112;

  .gradient-bottom {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #302112 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: h.rem(70);
    transform: rotateZ(180deg);
  }

  .tabs-container {
    position: relative;
  }

  .legend {
    padding: h.rem(8);
    background-color: #5c513de5;
    border: 1px solid #a18150;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    justify-content: flex-start;
    max-width: 100%;
    gap: h.rem(16) h.rem(30);

    & > div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: h.rem(8);
      width: 45%;

      span {
        font-weight: 400;
        font-size: h.rem(12);
        color: #a49987;
        text-align: start;
      }

      &.red .color {
        background-color: #cf4e44;
      }

      &.yellow .color {
        background-color: #9f9e3f;
      }

      &.space .color {
        background-color: #a29179;
      }

      &.lake .color {
        background-color: #38678f;
      }

      &.green .color {
        background-color: #2b4e29;
      }

      .color {
        width: 10px;
        height: 10px;
        border: 1px solid #f0f0f0;
        border-radius: 2px;
      }
    }
  }

  img.bg-image {
    opacity: 0.3;
  }

  .timeline-container {
    margin-top: h.rem(25);
    margin-bottom: h.rem(40);

    overflow: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    img {
      min-width: 500px;
      height: auto;
    }
  }

  p {
    font-size: h.rem(16);
    font-weight: 300;
    color: white;
  }

  .image-chart-container {
    margin-top: h.rem(20);
  }

  .interem-para {
    margin-bottom: h.rem(25);
    margin-top: h.rem(32);
  }

  .tabs-title {
    font-weight: 400;
    font-size: h.rem(24);
    color: #a18150;
    position: relative;
    padding: h.rem(8) 0;
    width: fit-content;
    text-align: center;
    margin-bottom: h.rem(22);
    margin-inline: auto;

    &::before,
    &::after {
      position: absolute;
      width: h.rem(44);
      height: h.rem(3);
      background-color: #999933;
      content: "";
      transition: all 0.5s;
    }

    &::before {
      top: 0;
      inset-inline-start: 0;
    }

    &::after {
      bottom: 0;
      inset-inline-end: 0;
    }

    &:hover {
      &::before,
      &::after {
        width: h.rem(80);
      }
    }
  }

  .buttons-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: h.rem(27);

    button {
      padding: h.rem(4) h.rem(12);
      font-weight: 400;
      font-size: h.rem(18);
      color: v.$light-coffee;
      background-color: #a4998780;
      box-shadow: none;
      border: none;

      &.selected {
        background-color: #a18150;
        color: white;
      }
    }
  }

  @media screen and (min-width: 992px) {
    padding: h.rem(120) 0 h.rem(48);

    .interem-para {
      margin-top: h.rem(64);
      margin-bottom: h.rem(50);
    }

    .timeline-container {
      margin-top: h.rem(52);
      margin-bottom: h.rem(123);
    }

    p {
      font-size: h.rem(22);
      line-height: h.rem(48);
    }

    .image-chart-container {
      margin-top: h.rem(41);
    }

    .tabs-title {
      font-size: h.rem(34);
      padding: h.rem(13) 0;
      margin-bottom: h.rem(43);

      &::before,
      &::after {
        width: h.rem(88);
        height: h.rem(5);
      }

      &:hover {
        &::before,
        &::after {
          width: h.rem(150);
        }
      }
    }

    .buttons-container {
      gap: h.rem(27);

      button {
        padding: h.rem(4) h.rem(12);
        font-size: h.rem(22);
      }
    }
    .gradient-bottom {
      height: h.rem(136);
    }

    .legend {
      padding: h.rem(14);
      max-width: h.rem(569);
      gap: h.rem(26) h.rem(64);
      position: absolute;
      bottom: h.rem(70);
      inset-inline-start: h.rem(11);

      & > div {
        gap: h.rem(17);
        width: h.rem(212);

        span {
          font-size: h.rem(17);
        }

        .color {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
