section.dynamic-content-8 {
  padding-top: h.rem(80);
  padding-bottom: h.rem(80);
  background-color: #0c0f13;

  p {
    font-weight: 300;
    font-size: h.rem(18);
    color: white;

    &:not(:last-of-type) {
      margin-bottom: h.rem(18);
    }
  }

  .media-container {
    margin-top: h.rem(35);

    img {
      width: 100%;
      height: auto;
    }
  }

  @media screen and (min-width: 992px) {
    padding-top: h.rem(270);
    padding-bottom: h.rem(90);

    p {
      font-size: h.rem(22);
      line-height: h.rem(40);

      &:not(:last-of-type) {
        margin-bottom: h.rem(26);
      }
    }

    .media-container {
      margin-top: h.rem(70);
    }
  }
}
