section.footer {
  h6,
  p {
    font-weight: 400;
    font-size: h.rem(18);
    text-align: center;
    color: white;

    &.credit {
      color: #a18150;
      margin-top: h.rem(25);
    }
  }

  .upper {
    padding-top: h.rem(50);
    height: h.rem(163);
    position: relative;
    background-color: #010000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    h6 {
      margin-bottom: h.rem(25);
    }
  }

  .lower {
    position: relative;
    height: 60vh;
  }

  @media screen and (min-width: 992px) {
    h6,
    p {
      font-size: h.rem(26);
      line-height: h.rem(56);

      &.credit {
        margin-top: h.rem(50);
      }
    }

    .upper {
      padding-top: h.rem(194);
      height: h.rem(363);

      h6 {
        margin-bottom: h.rem(50);
      }
    }

    .lower {
      height: h.rem(1279);
    }
  }
}
