<!-- Central-content-1 -->
<!-- {
        "upperDecoration": image,
        "bgImage1": image,
    } -->
<section class="central-content">
    <img loading="lazy" src="@@bgImage1" alt="background image" class="bg-image">
    <div class="container content-container">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-start align-items-center">
                @@include('./parts/en/boat-fisherman-chart.part.html')

                @@include('./parts/en/num-plants.part.html')

                @@include('./parts/en/title.part.html')

                @@include('./parts/en/gulf-map.part.html')

                @@include('./parts/en/vs.part.html')

                @@include('./parts/en/level1-level2.part.html')
            </div>
        </div>
    </div>
</section>