<!-- Central-content-1 -->
<!-- {
        "upperDecoration": image,
        "bgImage1": image,
        "bgImage2": image,
    } -->
<section class="central-content">
    <img src="@@bgImage1" alt="background image" class="bg-image">
    <div class="container content-container">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-start align-items-center">
                @@include('./parts/boat-fisherman-chart.part.html')

                @@include('./parts/num-plants-ar.part.html')

                @@include('./parts/title-ar.part.html')

                @@include('./parts/gulf-map.part.html')

                @@include('./parts/vs-ar.part.html')

                @@include('./parts/level1-level2-ar.part.html')
            </div>
        </div>
    </div>
</section>