<!-- Hero Section -->

<section class="hero">
    <img src="@@bgImage" class="bg-image" loading="lazy">
    <div class="gradient"></div>
    <div class="content">
        <h2 class="animate typewriter" data-speed="100" data-content="عائدات متناقصة"></h2>
        <h3 class="animate typewriter" data-speed="100" data-delay="1500" data-content="معاناة صيادي قطر"></h3>
        <h3 class="animate typewriter" data-speed="100" data-delay="3000" data-content="من محطات التحلية"></h3>
    </div>
</section>