@use "helpers" as h;
@use "./base/variables" as v;
@use "./base/typography" as t;

@import "./base/helpers";
@import "./base/font-face";
@import "./base/classes";
@import "./base/sidebar";

// Bootstrap customization
@import "../../node_modules/bootstrap/scss/functions";

@import "./base/bootstrap-cust";

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";

@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/buttons";

// Components
@import "./components/animate";
@import "./components/header";
@import "./components/popup";
@import "./components/quote-card";
@import "./components/title_styles";

// page components
@import "./components/bahrain/hero";
@import "./components/bahrain/quote";
@import "./components/bahrain/caption-bg";
@import "./components/bahrain/central-content-1";
@import "./components/bahrain/caption-bg-2";

a {
  text-decoration: none !important;

  &.btn {
    line-height: 1;
    padding: 1rem;
  }
}

body {
  background-color: #03152D;
}

p.content {
  font-size: h.rem(18);
  font-weight: 400;
  margin-bottom: h.rem(12);

  @media screen and (min-width: 992px) {
    font-size: h.rem(24);
    margin-bottom: h.rem(20);
  }
}

span.icon-quote {
  display: inline-table;
}

.decoration {
  position: absolute;
  width: 100%;
  max-height: max-content;
  object-fit: cover;
  inset-inline-start: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
@keyframes fade-out {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

img {
  max-width: 100%;
}

.chart-container {
  width: h.rem(773);
  max-width: 100%;
}

.media-container {
  max-width: 100%;
  object-fit: contain;

  img, video {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}
