section.banner-1 {
  padding: h.rem(40) 0;

  p {
    color: #a49987;
  }

  h3 {
    margin-top: h.rem(30);
  }

  p.suffix {
    margin-top: h.rem(15);
  }

  .quote-card-2 {
    margin-bottom: h.rem(18);
  }
  
  @media screen and (min-width: 992px) {
    padding: h.rem(94) 0;
    
    .quote-card-2 {
      margin-bottom: h.rem(34);
    }
    p.suffix {
      margin-top: h.rem(30);
    }

    h3 {
      margin-top: h.rem(60);
    }
  }
}
