section.bg-card-4 {
  padding: h.rem(30) 0;
  min-height: 100vh;

  p {
    color: #3E4940;
  }

  .decoration.bottom-decoration {
    @include h.section-gradient(#302112, h.rem(262), "bottom");
  }

  .footer-container {
    position: relative;
    z-index: 1;
    margin-top: h.rem(500);

    .footer-card {
      background-color: #3E4940;
      padding: h.rem(20);
      border-bottom: 4px solid #B76635;

      p:not(:last-of-type) {
        margin-bottom: h.rem(20);
      }
    }
  }
  
  @media screen and (min-width: 992px) {
    padding: h.rem(112) 0;
    min-height: 100vh;
    
    .footer-container {
      position: absolute;
      bottom: 0;
      inset-inline-start: 50%;
      transform: translate(-50%, 50%);
      margin-top: 0;
      
      .footer-card {
        padding: h.rem(40);

        p:not(:last-of-type) {
          margin-bottom: h.rem(40);
        }
      }
    }
  }
}
